PORT=3000
NODE_ENV=development

# Oracle 11g XE
DB_HOST=localhost
DB_PORT=1521
DB_SERVICE=xe
DB_USER=hr
DB_PASSWORD=hr
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_POOL_INCREMENT=1


# JWT — generate dengan: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_ACCESS_SECRET=your-very-long-secret-key-min-64-chars-change-this
JWT_REFRESH_SECRET=your-very-long-secret-key-min-64-chars-change-this
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Nodemailer (Gmail SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your-email
MAIL_PASSWORD=your-app-password #bukan password email, tapi pake app password
MAIL_FROM="HR System" <no-reply@hrapp.com>

# ── Storage driver ──────────────────────────────────────
# Pilih: 'local' atau 'cloudinary', 'awss3'
STORAGE_DRIVER=local

# Konfigurasi local storage
LOCAL_UPLOAD_DIR=uploads
LOCAL_BASE_URL=http://localhost:3000

# Konfigurasi Cloudinary (jika pake STORAGE_DRIVER=cloudinary)
CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>
CLOUDINARY_FOLDER=user_documents

# Upload limits
MAX_FILE_SIZE_MB=10